#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}

.container {
  display: flex;
  flex-direction: column;
}

.form-container {
  padding: 10px;
  background: #dfe5f0;

  button {
    background-color: #79889e;
  }
}


